/* Different width for Different Devices */
@media(max-width:599px) {
    .sec_3_main-dv {
        width: 90%;
        height: 1100px;
        padding: 100px 0 0 0;
        margin: 0 auto;
    }

    .sec_3_child_1 {
        height: 550px;
        width: 95%;
        background-color: #52989d;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 6);

    }

    .sec_3_child_2 {
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: -moz-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: -o-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        height: 650px;
        width: 95%;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 6);
    }

    .sec3_child1_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0 20px 0;
    }

    .sec_3_child_2a {
        margin-top: 50px;
        height: 650px;
        width: 90%;
    }

    .getinText {
        padding-top: 50px;
        margin-left: 35px;
    }
}

@media (min-width:600px) and (max-width:767px) {
    .sec_3_main-dv {
        width: 90%;
        height: 1100px;
        padding: 100px 0 0 0;
        margin: 0 auto;
    }

    .sec_3_child_1 {
        height: 550px;
        width: 80%;
        background-color: #52989d;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 6);

    }

    .sec_3_child_2 {
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: -moz-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: -o-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        height: 650px;
        width: 80%;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 6);
    }

    .sec3_child1_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0 20px 0;
    }

    .sec_3_child_2a {
        margin-top: 50px;
        height: 650px;
        width: 75%;
    }

    .getinText {
        padding-top: 50px;
        margin-left: 35px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .sec_3_main-dv {
        width: 90%;
        height: 1100px;
        padding: 100px 0 0 0;
        margin: 0 auto;
    }

    .sec_3_child_1 {
        height: 550px;
        width: 60%;
        background-color: #52989d;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 6);

    }

    .sec_3_child_2 {
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: -moz-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: -o-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        height: 650px;
        width: 60%;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 6);
    }

    .sec3_child1_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0 20px 0;
    }

    .sec_3_child_2a {
        margin-top: 50px;
        height: 650px;
        width: 80%;
    }

    .getinText {
        padding-top: 50px;
        margin-left: 35px;
    }
}


@media (min-width:992px) and (max-width:1199px) {
    .sec_3_main-dv {
        width: 90%;
        height: 800px;
        padding: 100px 0 0 0;
        margin: 0 auto;
    }

    .sec_3_child_1 {
        float: left;
        padding: 0;
        margin: 0;
        height: 550px;
        width: 35%;
        background-color: #52989d;
        position: absolute;
        top: 150px;
        left: 10%;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 6);
        z-index: 1;

    }

    .sec_3_child_2 {
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: -moz-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: -o-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        height: 650px;
        width: 70%;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 6);
        position: absolute;
        left: 20%;
    }

    .sec3_child1_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0 20px 0;
    }

    .sec_3_child_2a {
        margin-top: 50px;
        margin-right: 20%;
        height: 650px;
        width: 40%;
        float: right;
    }

    .getinText {
        padding-top: 50px;
        margin-left: 35px;
    }
}

@media (min-width:1200px) {
    .sec_3_main-dv {
        width: 90%;
        height: 800px;
        padding: 100px 0 0 0;
        margin: 0 auto;
    }

    .sec_3_child_1 {
        float: left;
        padding: 0;
        margin: 0;
        height: 550px;
        width: 30%;
        background-color: #52989d;
        position: absolute;
        top: 150px;
        left: 15%;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 6);
        z-index: 1;

    }

    .sec_3_child_2 {
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: -moz-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: -o-linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        background: linear-gradient(to bottom, #30CFD0 0%, #330867 100%);
        height: 650px;
        width: 70%;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 6);
        position: absolute;
        left: 20%;
    }

    .sec3_child1_1 {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        padding: 60px 0 30px 0;
        text-align: center;
    }

    .sec_3_child_2a {
        margin-top: 50px;
        margin-right: 20%;
        height: 650px;
        width: 40%;
        float: right;
    }

    .getinText {
        padding-top: 50px;
        margin-left: 35px;
    }
}

.s3child1 {
    width: 80%;
    padding: 20px 0px 20px 20px;
}

.txt-clr {
    font-size: 0.8em;
    color: #ebebec;
    padding: 0 0 0 10px;
}