input[type=text],
input[type=email] {
    position: relative;
    color: #ebebec;
    font-size: 0.9rem;
    padding: 10px 9px 10px 9px;
    margin: 12px 10px 10px 0px;
    /* background: linear-gradient(0deg, transparent,
            #45f4ff, #45f4ff); */
    background-color: #52989d;
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 25px;
    top: 0;
    letter-spacing: 0.05em;
    border: 0px;

}

textarea {
    position: relative;
    color: #23242a;
    font-size: 0.9rem;
    padding: 10px 9px 10px 9px;
    margin: 12px 10px 10px 0px;
    /* background: linear-gradient(0deg, transparent,
            #45f4ff, #45f4ff); */
    background-color: #52989d;
    width: 100%;
    height: 90px;
    outline: none;
    border-radius: 25px;
    top: 0;
    letter-spacing: 0.05em;
    border: 0px;

}

.inputLabel {
    position: absolute;
    left: 0px;
    top: 15px;
    padding: 10px 10px 10px 15px;
    font-size: 1em;
    color: #ebebec;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.3s;
}

.inputBox {
    width: 80%;
    margin-top: 15px;
    position: relative;
}

.getinText {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.getinText>p,
h2 {
    color: #ebebec;
}

/* input[type=text]:hover,
input[type=email]:hover {
    border: 1px solid #b6bfc0;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
} */

input[type=text]:focus~.inputLabel,
input[type=text]:valid~.inputLabel,
input[type=email]:focus~.inputLabel,
input[type=email]:valid~.inputLabel {
    left: 10px;
    font-size: 0.9rem;
    transition: .8s;
    color: rgb(224, 224, 224);
    transform: translateX(0px) translateY(-15px);
    /* background-color: #4c88ad; */
    padding: 2px 5px 3px 5px;
    margin-left: 10px;
    border-radius: 25px;
    /* background: linear-gradient(0deg, transparent,
            #322978, #322978); */
    background-color: #322978;
}

textarea:focus~.inputLabel,
textarea:valid~.inputLabel {
    left: 10px;
    font-size: 0.9rem;
    transition: .8s;
    color: rgb(224, 224, 224);
    transform: translateX(0px) translateY(-15px);
    /* background-color: #4c88ad; */
    padding: 2px 5px 3px 5px;
    margin-left: 10px;
    border-radius: 25px;
    /* background: linear-gradient(0deg, transparent,
            #322978, #322978); */
    background-color: #322978;
}