.dv_profil_1 {
    float: left;
}

.profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    max-width: 250px;
    background-color: transparent;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, #30CFD0 0%, #330867 100%) 1;
    margin-top: 100px;
    transform: rotate(-45deg);
    overflow: hidden;
}

.profile_img:hover {
    box-shadow: 0 5px 15px black, inset 0 0 15px white;
    transition-duration: .35s;
}

.profile_img_chld {
    max-width: 80%;
    transform: rotate(45deg);
    transition-duration: 500ms;
}

.profile_img_chld:hover {
    transform: scale(1.8) rotate(45deg);
}

.dv_profil_2 {
    float: right;

}

.hding_profil {
    font-size: 40px;
    padding-left: 10px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hding2_profil {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    line-height: 35px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}