.sklls {
    height: 250px;
    width: 250px;
    /* background-color: aqua; */
}

.outer_skill {
    padding: 25px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner_skill {

    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.02);
}

#number_per {
    font-weight: 600px;
    color: #555;
}

.crcle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 25px;
    stroke-dasharray: 705;
    stroke-dashoffset: 705;
    animation: skilfill 1.5s linear forwards;
}

.crcle1 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 25px;
    stroke-dasharray: 705;
    stroke-dashoffset: 705;
    animation: skilfill1 1.5s linear forwards;

}

.crcle2 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 25px;
    stroke-dasharray: 705;
    stroke-dashoffset: 705;
    animation: skilfill2 1.8s linear forwards;

}

.skill_parent_div {
    position: relative;
    height: 300px;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

@keyframes skilfill {
    100% {
        stroke-dashoffset: 247;
    }
}

@keyframes skilfill1 {
    100% {
        stroke-dashoffset: 177;
    }
}

@keyframes skilfill2 {
    100% {
        stroke-dashoffset: 106;
    }
}

p {
    padding: 0;
    margin: 0;
}

.skill_nam_child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin: 0;
}